# Json

## Goals

By the end of this case, you will have a foundational knowledge of what JSON data formatting is and how to read, manipulate, and write JSON files using Python. You will also learn how to use the `json` library to create and manipulate jon files, including the functions:
- [json.load()](https://www.geeksforgeeks.org/json-load-in-python/)
- [json.loads()](https://www.geeksforgeeks.org/json-loads-in-python/)
- [json.dump()](https://www.geeksforgeeks.org/json-dump-in-python/)
- [json.dumps()](https://www.geeksforgeeks.org/json-dumps-in-python/)

`Json` is a format not coding-language dependant and it is used to move data from one place to another. 
It is semi-structurated.

## Who is JSON?

**JSON** (JavaScript Object Orientation) is a data file format that stores human-readable text in the form of **key-value pairs**, and is most commonly used to store and transmit data in web applications and servers.

Take a look at a sample snippet:

```json
{
  "firstName": "John",
  "lastName": "Smith",
  "isAlive": true,
  "age": 27,
  "address": {
    "streetAddress": "21 2nd Street",
    "city": "New York",
    "state": "NY",
    "postalCode": "10021-3100"
  },
  "phoneNumbers": [
    {
      "type": "home",
      "number": "212 555-1234"
    },
    {
      "type": "office",
      "number": "646 555-4567"
    }
  ],
  "children": [],
  "spouse": null
}
```
While it may look foreign at first glance, the data is laid out in a way that can be easily read from left to right and from top to bottom in order to quickly find information.

Despite its name, JSON is a language-agnostic data format that can be used across a wide array of programming languages. Fortunately, Python natively works quite seamlessly with most JSON data by way of the `json` package. Let's start by importing it below:

In [1]:
import json
import numpy as np
import pandas as pd

In [3]:
pet_json_string = """
{
    "name": "Bruno",
    "species": "Cat",
    "age": 4,
    "adopted": "Y",
    "adoptionDate": "05-05-21",
    "treatments": ["neutered", "microchipped"]
}
"""

print(pet_json_string)
print(type(pet_json_string))

{
    "name": "Bruno",
    "species": "Cat",
    "age": 4,
    "adopted": "Y",
    "adoptionDate": "05-05-21",
    "treatments": ["neutered", "microchipped"]
}

<class 'str'>

In [5]:
pet_info = json.loads(pet_json_string)   # convert a string into a Json if it has the correct format
print(pet_info)
print(type(pet_info))     # Python lo lee como un diccionario

{'name': 'Bruno', 'species': 'Cat', 'age': 4, 'adopted': 'Y', 'adoptionDate': '05-05-21', 'treatments': ['neutered', 'microchipped']}
<class 'dict'>

## how to get values from a given key

In [6]:
pet_info['species']

'Cat'

## get the keys

In [7]:
pet_info.keys()

dict_keys(['name', 'species', 'age', 'adopted', 'adoptionDate', 'treatments'])

## get the values

In [8]:
pet_info.values()

dict_values(['Bruno', 'Cat', 4, 'Y', '05-05-21', ['neutered', 'microchipped']])

## get both, keys and values

In [9]:
pet_info.items()

dict_items([('name', 'Bruno'), ('species', 'Cat'), ('age', 4), ('adopted', 'Y'), ('adoptionDate', '05-05-21'), ('treatments', ['neutered', 'microchipped'])])

## change a value on a dictionary

In [10]:
pet_info['age'] = 5

In [12]:
pet_info

{'name': 'Bruno',
 'species': 'Cat',
 'age': 5,
 'adopted': 'Y',
 'adoptionDate': '05-05-21',
 'treatments': ['neutered', 'microchipped']}

## adding a new key with its item

In [21]:
pet_info.update({'colour': 'white'})      #option 1
pet_info

{'name': 'Bruno',
 'species': 'Cat',
 'age': 5,
 'adopted': 'Y',
 'adoptionDate': '05-05-21',
 'treatments': ['neutered', 'microchipped'],
 'Weigth': 5,
 'colour': 'white'}

In [22]:
pet_info['Weigth'] = 5          #option 2
pet_info

{'name': 'Bruno',
 'species': 'Cat',
 'age': 5,
 'adopted': 'Y',
 'adoptionDate': '05-05-21',
 'treatments': ['neutered', 'microchipped'],
 'Weigth': 5,
 'colour': 'white'}

## Droping a key of a dictionary

In [23]:
pet_info.pop('colour')        #Option 1
pet_info

{'name': 'Bruno',
 'species': 'Cat',
 'age': 5,
 'adopted': 'Y',
 'adoptionDate': '05-05-21',
 'treatments': ['neutered', 'microchipped'],
 'Weigth': 5}

In [24]:
del pet_info['Weigth']
pet_info

{'name': 'Bruno',
 'species': 'Cat',
 'age': 5,
 'adopted': 'Y',
 'adoptionDate': '05-05-21',
 'treatments': ['neutered', 'microchipped']}

## iterating over a dictionary

In [27]:
for i in pet_info.keys():
    print(i)

('name', 'Bruno')
('species', 'Cat')
('age', 5)
('adopted', 'Y')
('adoptionDate', '05-05-21')
('treatments', ['neutered', 'microchipped'])

In [28]:
for i in pet_info.values():
    print(i)

Bruno
Cat
5
Y
05-05-21
['neutered', 'microchipped']

In [29]:
for i in pet_info.items():
    print(i)

('name', 'Bruno')
('species', 'Cat')
('age', 5)
('adopted', 'Y')
('adoptionDate', '05-05-21')
('treatments', ['neutered', 'microchipped'])

### Adding information to a list

In [30]:
pet_info['treatments'].append('vaccinated')
pet_info

{'name': 'Bruno',
 'species': 'Cat',
 'age': 5,
 'adopted': 'Y',
 'adoptionDate': '05-05-21',
 'treatments': ['neutered', 'microchipped', 'vaccinated']}

#### adding information in a specific place

In [31]:
pet_info['treatments'].insert(2, 'new_entre')
pet_info

{'name': 'Bruno',
 'species': 'Cat',
 'age': 5,
 'adopted': 'Y',
 'adoptionDate': '05-05-21',
 'treatments': ['neutered', 'microchipped', 'new_entre', 'vaccinated']}

### delete

In [32]:
pet_info['treatments'].pop(2)
pet_info

{'name': 'Bruno',
 'species': 'Cat',
 'age': 5,
 'adopted': 'Y',
 'adoptionDate': '05-05-21',
 'treatments': ['neutered', 'microchipped', 'vaccinated']}

# how to export in a `Json` format

In [33]:
with open("Data/pet_record.json", "w") as f:
    json.dump(pet_info, f)

In [35]:
with open("Data/pet_record_formatted.json", "w") as f:
    json.dump(pet_info, f, indent=4)       # mejor formaterado  mas legible pero ocupa mas memoria

## Reading a `JSON` file

In [36]:
with open("Data/pet_record.json", "r") as f:
    pet1 = json.load(f)
    
print(type(pet1))    
print(pet1)

<class 'dict'>
{'name': 'Bruno', 'species': 'Cat', 'age': 5, 'adopted': 'Y', 'adoptionDate': '05-05-21', 'treatments': ['neutered', 'microchipped', 'vaccinated']}

In [37]:
pet1

{'name': 'Bruno',
 'species': 'Cat',
 'age': 5,
 'adopted': 'Y',
 'adoptionDate': '05-05-21',
 'treatments': ['neutered', 'microchipped', 'vaccinated']}

In [42]:
pet2 = {
    "name": "Cletus",
    "species": "Dog",
    "age": 2,
    "adopted": "N",
    "adoptionDate": None,
    "treatments": ['flea/tick']
}
print(type(pet2))
print(pet2)

<class 'dict'>
{'name': 'Cletus', 'species': 'Dog', 'age': 2, 'adopted': 'N', 'adoptionDate': None, 'treatments': ['flea/tick']}

#### `dumps` changes the dictionary type to a str class

In [41]:
pet2_json = json.dumps(pet2, indent=4)
print(type(pet2_json))
print(pet2_json)

<class 'str'>
{
    "name": "Cletus",
    "species": "Dog",
    "age": 2,
    "adopted": "N",
    "adoptionDate": null,
    "treatments": [
        "flea/tick"
    ]
}

#### `loads` changes the str type to a string class

In [43]:
pet2_dict = json.loads(pet2_json)

print(type(pet2_dict))
print(pet2_dict)

<class 'dict'>
{'name': 'Cletus', 'species': 'Dog', 'age': 2, 'adopted': 'N', 'adoptionDate': None, 'treatments': ['flea/tick']}

## More complex `JSON`

In [46]:
vet_info = {
    "vetOffice": "Paws N Claws",
    "vetOfficeAddress": "1234 Main St. \n Chicago, IL",
    "vetName": "Joseph R. Wilkes",
    "patients": [pet1, pet2]
}

print(type(vet_info))
vet_info

<class 'dict'>

{'vetOffice': 'Paws N Claws',
 'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
 'vetName': 'Joseph R. Wilkes',
 'patients': [{'name': 'Bruno',
   'species': 'Cat',
   'age': 5,
   'adopted': 'Y',
   'adoptionDate': '05-05-21',
   'treatments': ['neutered', 'microchipped', 'vaccinated']},
  {'name': 'Cletus',
   'species': 'Dog',
   'age': 2,
   'adopted': 'N',
   'adoptionDate': None,
   'treatments': ['flea/tick']}]}

In [47]:
with open("Data/vet_record.json", "w") as f:
    json.dump(vet_info, f, indent=4)

# `Pandas` to read `JSON`

In [48]:
with open("Data/vet_records_full.json", "r") as f:
    vet_records = json.load(f)


vet_records

{'vetOffice': 'Paws N Claws',
 'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
 'vetName': 'Joseph R. Wilkes',
 'patients': [{'name': 'Deanna',
   'species': 'Alpaca',
   'age': 9,
   'adoptionDate': '2021-01-16'},
  {'name': 'Jose', 'species': 'Llama', 'age': 5, 'adoptionDate': '2021-06-19'},
  {'name': 'Sarah',
   'species': 'Llama',
   'age': 7,
   'adoptionDate': '2021-10-14'},
  {'name': 'Miguel', 'species': 'Dog', 'age': 6, 'adoptionDate': '2021-05-31'},
  {'name': 'Timothy',
   'species': 'guinea pig',
   'age': 2,
   'adoptionDate': '2021-02-11'},
  {'name': 'Megan',
   'species': 'Sheep',
   'age': 4,
   'adoptionDate': '2021-06-23'},
  {'name': 'Nicholas',
   'species': 'Alpaca',
   'age': 10,
   'adoptionDate': '2021-08-01'},
  {'name': 'Brian',
   'species': 'Sheep',
   'age': 2,
   'adoptionDate': '2021-09-05'},
  {'name': 'Tamara',
   'species': 'Donkey',
   'age': 2,
   'adoptionDate': '2021-10-24'},
  {'name': 'Julie', 'species': 'Bird', 'age': 3, 'adoptionDate': '2021-10-05'},
  {'name': 'John',
   'species': 'hamster',
   'age': 3,
   'adoptionDate': '2021-11-16'},
  {'name': 'Michael',
   'species': 'Bird',
   'age': 5,
   'adoptionDate': '2021-05-06'},
  {'name': 'Christy',
   'species': 'gerbil',
   'age': 5,
   'adoptionDate': '2021-01-06'},
  {'name': 'Cynthia',
   'species': 'gerbil',
   'age': 1,
   'adoptionDate': '2021-04-11'},
  {'name': 'Mark', 'species': 'Fish', 'age': 3, 'adoptionDate': '2021-09-30'},
  {'name': 'Samantha',
   'species': 'Pig',
   'age': 3,
   'adoptionDate': '2021-03-08'},
  {'name': 'Jason',
   'species': 'Horse',
   'age': 5,
   'adoptionDate': '2021-05-05'},
  {'name': 'Nancy',
   'species': 'Red fox',
   'age': 10,
   'adoptionDate': '2021-07-14'},
  {'name': 'Bradley',
   'species': 'Hedgehog',
   'age': 3,
   'adoptionDate': '2021-08-09'},
  {'name': 'Alison', 'species': 'Pig', 'age': 6, 'adoptionDate': '2021-09-09'},
  {'name': 'Sherri',
   'species': 'Sugar glider',
   'age': 4,
   'adoptionDate': '2021-07-21'},
  {'name': 'Lauren',
   'species': 'Alpaca',
   'age': 3,
   'adoptionDate': '2021-05-07'},
  {'name': 'Cheryl',
   'species': 'Goat',
   'age': 8,
   'adoptionDate': '2021-10-17'},
  {'name': 'Jennifer',
   'species': 'Sheep',
   'age': 8,
   'adoptionDate': '2021-02-27'},
  {'name': 'Brian',
   'species': 'Monkey',
   'age': 7,
   'adoptionDate': '2021-08-25'}]}

# converting a dictionary to a dataset

In [61]:
import pandas as pd

In [62]:
df = pd.DataFrame(vet_records)
df

,vetOffice,vetOfficeAddress,vetName,patients
0,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Deanna', 'species': 'Alpaca', 'age':..."
1,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Jose', 'species': 'Llama', 'age': 5,..."
2,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Sarah', 'species': 'Llama', 'age': 7..."
3,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Miguel', 'species': 'Dog', 'age': 6,..."
4,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Timothy', 'species': 'guinea pig', '..."
5,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Megan', 'species': 'Sheep', 'age': 4..."
6,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Nicholas', 'species': 'Alpaca', 'age..."
7,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Brian', 'species': 'Sheep', 'age': 2..."
8,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Tamara', 'species': 'Donkey', 'age':..."
9,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Julie', 'species': 'Bird', 'age': 3,..."
10,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'John', 'species': 'hamster', 'age': ..."
11,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Michael', 'species': 'Bird', 'age': ..."
12,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Christy', 'species': 'gerbil', 'age'..."
13,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Cynthia', 'species': 'gerbil', 'age'..."
14,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Mark', 'species': 'Fish', 'age': 3, ..."
15,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Samantha', 'species': 'Pig', 'age': ..."
16,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Jason', 'species': 'Horse', 'age': 5..."
17,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Nancy', 'species': 'Red fox', 'age':..."
18,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Bradley', 'species': 'Hedgehog', 'ag..."
19,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Alison', 'species': 'Pig', 'age': 6,..."
20,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Sherri', 'species': 'Sugar glider', ..."
21,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Lauren', 'species': 'Alpaca', 'age':..."
22,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Cheryl', 'species': 'Goat', 'age': 8..."
23,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Jennifer', 'species': 'Sheep', 'age'..."
24,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes,"{'name': 'Brian', 'species': 'Monkey', 'age': ..."

# separate information

In [68]:
pd.json_normalize(df.patients)

        name       species  age adoptionDate
0     Deanna        Alpaca    9   2021-01-16
1       Jose         Llama    5   2021-06-19
2      Sarah         Llama    7   2021-10-14
3     Miguel           Dog    6   2021-05-31
4    Timothy    guinea pig    2   2021-02-11
5      Megan         Sheep    4   2021-06-23
6   Nicholas        Alpaca   10   2021-08-01
7      Brian         Sheep    2   2021-09-05
8     Tamara        Donkey    2   2021-10-24
9      Julie          Bird    3   2021-10-05
10      John       hamster    3   2021-11-16
11   Michael          Bird    5   2021-05-06
12   Christy        gerbil    5   2021-01-06
13   Cynthia        gerbil    1   2021-04-11
14      Mark          Fish    3   2021-09-30
15  Samantha           Pig    3   2021-03-08
16     Jason         Horse    5   2021-05-05
17     Nancy       Red fox   10   2021-07-14
18   Bradley      Hedgehog    3   2021-08-09
19    Alison           Pig    6   2021-09-09
20    Sherri  Sugar glider    4   2021-07-21
21    Lauren        Alpaca    3   2021-05-07
22    Cheryl          Goat    8   2021-10-17
23  Jennifer         Sheep    8   2021-02-27
24     Brian        Monkey    7   2021-08-25

In [65]:
df2 = pd.concat([pd.json_normalize(df.patients), df], axis=1).drop(columns=["patients"])
df2

,name,species,age,adoptionDate,vetOffice,vetOfficeAddress,vetName
0,Deanna,Alpaca,9,2021-01-16,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
1,Jose,Llama,5,2021-06-19,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
2,Sarah,Llama,7,2021-10-14,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
3,Miguel,Dog,6,2021-05-31,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
4,Timothy,guinea pig,2,2021-02-11,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
5,Megan,Sheep,4,2021-06-23,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
6,Nicholas,Alpaca,10,2021-08-01,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
7,Brian,Sheep,2,2021-09-05,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
8,Tamara,Donkey,2,2021-10-24,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
9,Julie,Bird,3,2021-10-05,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
10,John,hamster,3,2021-11-16,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
11,Michael,Bird,5,2021-05-06,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
12,Christy,gerbil,5,2021-01-06,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
13,Cynthia,gerbil,1,2021-04-11,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
14,Mark,Fish,3,2021-09-30,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
15,Samantha,Pig,3,2021-03-08,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
16,Jason,Horse,5,2021-05-05,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
17,Nancy,Red fox,10,2021-07-14,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
18,Bradley,Hedgehog,3,2021-08-09,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
19,Alison,Pig,6,2021-09-09,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
20,Sherri,Sugar glider,4,2021-07-21,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
21,Lauren,Alpaca,3,2021-05-07,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
22,Cheryl,Goat,8,2021-10-17,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
23,Jennifer,Sheep,8,2021-02-27,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes
24,Brian,Monkey,7,2021-08-25,Paws N Claws,"1234 Main St. \n Chicago, IL",Joseph R. Wilkes

In [69]:
json.loads(df2.to_json(orient='table'))

{'schema': {'fields': [{'name': 'index', 'type': 'integer'},
   {'name': 'name', 'type': 'string'},
   {'name': 'species', 'type': 'string'},
   {'name': 'age', 'type': 'integer'},
   {'name': 'adoptionDate', 'type': 'string'},
   {'name': 'vetOffice', 'type': 'string'},
   {'name': 'vetOfficeAddress', 'type': 'string'},
   {'name': 'vetName', 'type': 'string'}],
  'primaryKey': ['index'],
  'pandas_version': '0.20.0'},
 'data': [{'index': 0,
   'name': 'Deanna',
   'species': 'Alpaca',
   'age': 9,
   'adoptionDate': '2021-01-16',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 1,
   'name': 'Jose',
   'species': 'Llama',
   'age': 5,
   'adoptionDate': '2021-06-19',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 2,
   'name': 'Sarah',
   'species': 'Llama',
   'age': 7,
   'adoptionDate': '2021-10-14',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 3,
   'name': 'Miguel',
   'species': 'Dog',
   'age': 6,
   'adoptionDate': '2021-05-31',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 4,
   'name': 'Timothy',
   'species': 'guinea pig',
   'age': 2,
   'adoptionDate': '2021-02-11',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 5,
   'name': 'Megan',
   'species': 'Sheep',
   'age': 4,
   'adoptionDate': '2021-06-23',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 6,
   'name': 'Nicholas',
   'species': 'Alpaca',
   'age': 10,
   'adoptionDate': '2021-08-01',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 7,
   'name': 'Brian',
   'species': 'Sheep',
   'age': 2,
   'adoptionDate': '2021-09-05',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 8,
   'name': 'Tamara',
   'species': 'Donkey',
   'age': 2,
   'adoptionDate': '2021-10-24',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 9,
   'name': 'Julie',
   'species': 'Bird',
   'age': 3,
   'adoptionDate': '2021-10-05',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 10,
   'name': 'John',
   'species': 'hamster',
   'age': 3,
   'adoptionDate': '2021-11-16',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 11,
   'name': 'Michael',
   'species': 'Bird',
   'age': 5,
   'adoptionDate': '2021-05-06',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 12,
   'name': 'Christy',
   'species': 'gerbil',
   'age': 5,
   'adoptionDate': '2021-01-06',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 13,
   'name': 'Cynthia',
   'species': 'gerbil',
   'age': 1,
   'adoptionDate': '2021-04-11',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 14,
   'name': 'Mark',
   'species': 'Fish',
   'age': 3,
   'adoptionDate': '2021-09-30',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 15,
   'name': 'Samantha',
   'species': 'Pig',
   'age': 3,
   'adoptionDate': '2021-03-08',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 16,
   'name': 'Jason',
   'species': 'Horse',
   'age': 5,
   'adoptionDate': '2021-05-05',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 17,
   'name': 'Nancy',
   'species': 'Red fox',
   'age': 10,
   'adoptionDate': '2021-07-14',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 18,
   'name': 'Bradley',
   'species': 'Hedgehog',
   'age': 3,
   'adoptionDate': '2021-08-09',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 19,
   'name': 'Alison',
   'species': 'Pig',
   'age': 6,
   'adoptionDate': '2021-09-09',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 20,
   'name': 'Sherri',
   'species': 'Sugar glider',
   'age': 4,
   'adoptionDate': '2021-07-21',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 21,
   'name': 'Lauren',
   'species': 'Alpaca',
   'age': 3,
   'adoptionDate': '2021-05-07',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 22,
   'name': 'Cheryl',
   'species': 'Goat',
   'age': 8,
   'adoptionDate': '2021-10-17',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 23,
   'name': 'Jennifer',
   'species': 'Sheep',
   'age': 8,
   'adoptionDate': '2021-02-27',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'},
  {'index': 24,
   'name': 'Brian',
   'species': 'Monkey',
   'age': 7,
   'adoptionDate': '2021-08-25',
   'vetOffice': 'Paws N Claws',
   'vetOfficeAddress': '1234 Main St. \n Chicago, IL',
   'vetName': 'Joseph R. Wilkes'}]}